.sign-up-div {
  display: flex;
  justify-content: center;
}
.sign-up-page-cover {
  width: 40%;
  margin-top: 5%;
}
.sign-up-input-form {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 26px;
  border: 1px solid silver;
  padding-left: 40px;
}
.sign-up-header {
  margin-bottom: 20px;
  font-size: 25px;
  color: black;
  font-weight: 700;
}
.signup-subit-button {
  width: 40%;
  height: 40px;
  border-radius: 26px;
  border: none !important;
  color: black;
  cursor: pointer;
  font-weight: 700;
}
.if-login {
  margin-bottom: 20px;
}
